/* --rev02-- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 93%;
    font-family: monospace;
    color: rgb(0, 0, 0);
}

nav {
    text-align: center;
    margin-top: 18px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.left-section, .right-section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.left-section {
    background-color: #460858; /* Blue */
    left: 30px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); /* Creates the curved effect */
}

.right-section {
    background-color: #9f4de2; /* Red */
    right: 30px;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%); /* Creates the curved effect */
}

.overlay-text{
  position: absolute;
  top: 8%;
  left: 34%;
  z-index: 10;
  padding: 10px;
  display: none;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(30deg, #FF5733, #33FF57, #3357FF, #FF33A8, #FF33C1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: monospace;
  animation: jump 800ms ease-in-out infinite;
}

@keyframes jump {
  0%, 15% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-2rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-1.5rem); 
  }
  100% {
    transform: translateY(0);
  }
}

#colorful-text {
        font-size: 1.5rem;
        background: linear-gradient(30deg, #FF5733, #33FF57, #3357FF, #FF33A8, #FF33C1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: monospace;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        
    }

    footer {
        display: flex;
        justify-content: space-between;
        width: 25%;
        margin-top: 10px;
      }

/* ------rev03------------------ */
main {

background-color: #628edf;

}


button {
    background: linear-gradient(45deg, #662e62, #f546f2, #ff6b6b, #4492f8); /* Colorful gradient */
    background-size: 400% 400%; 
    color: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
    border: 2px solid #a0279b;
    padding: 5px 40px;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 999px;
    transition: 0.3s ease-in-out;

  }
  
  button:hover {
    background-position: 100% 0;
    box-shadow: 0 0 20px 6px rgba(194, 54, 191, 0.7);
    border-color: #e83ee5;
    cursor: crosshair;
  }


 
.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
}

.setup {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  width: 75%;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: monospace;
}

.player-settings1 .player-settings1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player-settings select {
  margin-top: 5px;
}
.game {
  display: flex;
  flex-direction: column;
  margin-top:50px;
  align-items: center;
  min-height: 30vh;
  padding: 10px 0 10px;
}


.game button {
  width: 125px;
  align-items: center;
  position: relative;
  bottom: 15px;
}

/* .game #player1-car {
  margin: 40px 0 30px;
} */

.cars {
  position: relative;
  display: flex;
  width: 100%;
  left: -650px;
  top: -40px;
}

#player1-car {
  position:absolute;
  margin-top: 30px;
  /* left: 260px; */
}

#player2-car {
  position:absolute;
  height: auto;
  margin-top: 75px;
  /* left: 260px; */
}

.score-capture {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: start;
}

.player-times {
  display: flex;
  position: relative;
  bottom: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

.player1-clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player1-time {
  display:flex;
  direction: row;
  padding-bottom: 20px;
  height: 80px;
}

.player2-time {
  display:flex;
  direction: row;
  height: 80px;
}

#player1-time {
  position: relative;
  padding: 0 0 0 10px;
  font-family: monospace;
  top:-7px;
}

.player2-clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  
}

#player2-time {
  position: relative;
  padding: 0 0 0 10px;
  font-family: monospace;
  top: -7px;
}

#save-score {
  font-family: monospace;
}

footer {
  margin-bottom: 40px;
}

/* ---rev04------------------ */
/* objects */

.obj-container {
    position: relative;
    display: flex;
    width: 100%;
    left: 50px;
}

#flag {
    position: absolute;
    margin-top: 89px;
    right: -10px;
    width: 100px;
    height: auto;
    left: 620px;
    top: -80px;
  }

#highway { 
    position: absolute;
    margin-top: 89px;
    right: -10px;
    width: 1200px;
    height: 300px;
    left: -600px;
    top: -175px;  
}

#bush {
    position:absolute;
    margin-top: 89px;
    right: -10px;
    width: 100px;
    height: auto;
    left: 170px;
    top: -160px;
}

#tree1 {
    position:absolute;
    margin-top: 89px;
    right: -10px;
    width: 100px;
    height: auto;
    left: 480px;
    top: -178px;
}

#tree2 {
    position:absolute;
    margin-top: 89px;
    right: -10px;
    width: 90px;
    height: auto;
    left: -580px;
    top: -178px;
}



/* High Score Board Styles */

.highscore-board{
  font-family: monospace;
  position: absolute;
  top: 100px;
  left: 45px;
  color: white;
}
.highscore-board tr, .highscore-board th{
  border-bottom: none;
}

th.highscore-header{
  text-align: center; 
  font-size: 1.5rem; 
  background: linear-gradient(45deg, #662e62, #f546f2, #ff6b6b, #4492f8); /* Colorful gradient */
  background-size: 400% 400%; 
  color: white; 
  padding: 10px; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}
th.highscore-body {
  text-align: center; /* Center the text in the header cell */
  background: linear-gradient(45deg,#2c74d2,#cf7af3); 
  background-size: 400% 400%; 
  border-top: 1px solid rgba(148, 148, 148, 0.297); /* Subtle dividers */
  border-bottom: none;
  padding: 10px; 
}
td.highscore-body{
  text-align: center; 
  padding: 10px; 
  border-top: 1px solid rgba(148, 148, 148, 0.297);
  border-left: 1px solid rgba(148, 148, 148, 0.297);
  border-bottom: none;
}

th.highscore-body.bottom {
  border-bottom-left-radius: 15px;
}

td.highscore-body.bottom {
  border-bottom-right-radius: 15px;
}

.highscore-header{
  text-align: center;
}

/* animated character */

:root {
    --pixel-size: 6;
 }
 
 .Character {
    width: calc(22px * var(--pixel-size));
    height: calc(22px * var(--pixel-size));
    overflow: hidden;
    position: fixed;
    margin: 4em auto;
    bottom: -35px;
    right: 20px;
 }

 .Character:hover::after {
    content: "hello world!";
    border: 1px solid black;
    font-family: monospace;
    font-style: normal;
    position: absolute;
    display: block;
    left: 1px;
    top: 10px;
    cursor: wait;
    padding: 3px;  
 }
 
 .Character_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(70px * var(--pixel-size));
    position: absolute;
    
 }
 .Character_shadow {
    position: absolute;
    width: calc(70% * var(--pixel-size));
    color: black;
 }
 
 .pixelart {
    image-rendering: pixelated;
 }
 
 .face-right {
    top: calc(-32px * var(--pixel-size));
 }
 .face-up {
    top: calc(-64px * var(--pixel-size));
 }
 .face-left {
    top: calc(-96px * var(--pixel-size));
    font-size: large;
 }
 
 
 @keyframes moveSpritesheet {
    from {
       transform: translate3d(0px,0,0)
    }
    to {
       transform: translate3d(-100%,0,0)
    }
 }

@media screen and (max-width: 375px) {
  main {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .highscore-board {
    display: none;
    justify-content: end;
  }


  .cars {
    left: -120px;
    top: -25px;
  }

  .player1-time {
    display: inline;
    position: relative;
    height: 40px;
    left:-100px;
  }

  .player2-time {
    display: inline;
    position: relative;
    left:-100px;
  }
  
  .Character {
    position: absolute;
    bottom: -75px;
    left: -280px;
  }

  footer {
   position: relative;
    margin-top: -40px;
    top: -35px;
  }
}